---
layout: page
title: 栏目
---
{% comment %}
0 thesite  站务
1 data     数据
2 analysis 分析
3 opinion  观点
{% endcomment %}

{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% endif %}

<div class="tags">
  <ul class="label">
    {% for tag in site.categories %}
      {% case tag[0] %}
        {% when "thesite" %}
          {% assign tag_name = "站务" %}
        {% when "data" %}
          {% assign tag_name = "数据" %}
        {% when "analysis" %}
          {% assign tag_name = "分析" %}
        {% when "opinion" %}
          {% assign tag_name = "观点" %}
        {% else %}
          You fucked up.
      {% endcase %}
      <li>
        <a href="#{{ tag_name }}">
          <span>{{ tag_name }}</span>
          <span class="count">{{ tag[1] | size }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>

  {% for tag in site.categories %}
    {% case tag[0] %}
      {% when "thesite" %}
        {% assign tag_name = "站务" %}
      {% when "data" %}
        {% assign tag_name = "数据" %}
      {% when "analysis" %}
        {% assign tag_name = "分析" %}
      {% when "opinion"%}
        {% assign tag_name = "观点" %}
      {% else %}
        You fucked up
    {% endcase %}
    <h2 id="{{ tag_name }}">
      {{ tag_name }}
    </h2>
    <ul class="tag">
      {% for post in tag[1] %}
        {% if post.title != null %}
          <li>
            <time>{{ post.date | date: "%Y-%m-%d" }}</time>
            {% if post.link %}
              <a href="{{ post.link }}">
            {% else %}
              <a href="{{ site.baseurl }}{{ post.url }}">
            {% endif %}
                {{ post.title }}
              </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
</div>

<script> pangu.spacingPage(); </script>